.ButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  font-family: Kantumruy Pro SemiBold;
  -webkit-box-shadow: 5px 10px 98px -103px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 5px 10px 98px -103px rgba(0, 0, 0, 0.76);
  box-shadow: 5px 10px 98px -103px rgba(0, 0, 0, 0.76);
}

.ButtonContainer > div {
  background-color: transparent;
  border: 2px solid #9c9c9c;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  position: relative;
}
.ButtonContainer p {
  margin-inline: 0.5rem;
  z-index: 2;
  position: relative;
  pointer-events: none;
}

.ButtonContainer div > div {
  background-color: var(--indigo85);
  width: 50%;
  height: 85%;
  position: absolute;
  border-radius: 45px;
  z-index: 1;
}

.OneWay {
  left: 2%;
}
.RoundTripAnimate {
  animation: slideRight 0.4s ease-in-out forwards;
}

.RoundTrip {
  left: calc(98% - 50%);
}
.OneWayAnimate {
  animation: slideLeft 0.4s ease-in-out forwards;
}

.WhiteText {
  animation: toWhite 0.4s ease-in-out forwards;
}

@keyframes toWhite {
  from {
    color: initial;
  }
  to {
    color: white;
  }
}
@keyframes slideRight {
  0% {
    left: 2%;
  }
  100% {
    left: calc(98% - 50%);
  }
}

@keyframes slideLeft {
  0% {
    left: calc(98% - 50%);
  }
  100% {
    left: 2%;
  }
}

div.FlightDetails form {
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-inline: 5%;
  padding-bottom: 0;
  display: grid;

  fieldset p:nth-child(1) {
    font-family: "Kantumruy Pro Regular";
    color: #9c9c9c;
  }

  fieldset {
    display: grid;
    padding: 4% 3%;
    border: 2px solid #9c9c9c;
    border-radius: 20px;
  }

  fieldset.Locations > div.LocationsContainer {
    align-items: start;
    display: grid;
    grid-template-areas:
      "label label"
      "image combobox"
      "image value";
    grid-template-columns: 50px auto;
  }

  fieldset.Locations > div.LocationsContainer p:nth-child(1) {
    grid-area: label;
    margin-block: 10px;
    color: #9c9c9c;
  }
  fieldset.Locations > div.LocationsContainer p:nth-child(2) {
    font-family: "Kantumruy Pro Regular";
    grid-area: value;
    color: #9c9c9c;
  }

  fieldset.Locations > div.LocationsContainer img {
    height: 5vh;
    width: 5vh;
    grid-area: image;
  }

  fieldset.Locations > div.LocationsContainer .ComboBox {
    grid-area: combobox;
  }
}
