form.OneWayForm {
  grid-template-areas: "Locations DepartureDate" "Locations ClassSeat" "Count Count" "Button Button";

  fieldset.Locations {
    grid-area: Locations;
    margin-right: 2rem;
  }

  fieldset.DepartureDate {
    grid-area: DepartureDate;
    align-self: self-start;
    margin-bottom: 1rem;
  }

  fieldset.ClassSeat {
    grid-area: ClassSeat;
  }

  fieldset.PassengerCount {
    padding: 2% 1%;
    margin-top: 1rem;
    grid-area: Count;
  }

  button {
    grid-area: Button;
    justify-self: center;
    margin-top: 1rem;
  }

  hr {
  height: 0;
  margin-top: 15px;
}


  fieldset.DepartureDate,
  fieldset.ClassSeat,
  fieldset.PassengerCount div div {
    display: grid;
    grid-template-areas:
      "label label"
      "image combobox";
    grid-template-columns: 50px auto;
  }

  fieldset.DepartureDate .ComboBox,
  fieldset.ClassSeat .ComboBox,
  fieldset.PassengerCount div input {
    grid-area: combobox;
    align-self: center;
    border: transparent;
    font-family: Kantumruy Pro SemiBold;
    font-size: 1rem;
  }

  fieldset.DepartureDate img,
  fieldset.ClassSeat img,
  fieldset.PassengerCount div img {
    grid-area: image;
  }

  fieldset.DepartureDate p,
  fieldset.ClassSeat p,
  fieldset.PassengerCount div p {
    grid-area: label;
  }

  fieldset.PassengerCount  div p {
    font-family: "Kantumruy Pro SemiBold";
    color: black;
  }
  fieldset.PassengerCount div input {
    width: 5rem;
  }
  fieldset.PassengerCount{
    display: flex;
    flex-direction: column;
  }
  fieldset.PassengerCount div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

