form.RoundTripForm {
  display: grid;
  grid-template-areas: "Locations Dates" "Passenger ClassSeat" "Passenger Button";

  fieldset.Locations {
    grid-area: Locations;
    margin-right: 1.5rem;
    hr{
        height: 0;
    }
  }

  fieldset.Dates {
    grid-area: Dates;
  }

  fieldset.ClassSeat {
    grid-area: ClassSeat;
    margin-top: 1.5rem;
    height: 60%;
    p{
        margin-block: 0 !important;
    }
  }

  fieldset.PassengerCount {
    grid-area: Passenger;
    margin-top: 1.5rem;
    margin-right: 2rem;
  }
  button {
    grid-area: Button;
    justify-self: center;
  }

  fieldset.Dates > .DateContainer,
  fieldset.ClassSeat{
    display: grid;
    grid-template-areas: "Label Label" "Image ComboBox";
    grid-template-columns: 50px auto;
    p {
      grid-area: Label;
      margin-block: 10px;
    }
    img {
      grid-area: Image;
    }
    .ComboBox {
      grid-area: ComboBox;
      align-self: center;
      justify-self: self-start;
    }    
  }
  fieldset > hr {
    position: relative;
    height: 0;
    top: 50%;
    width: 100%;
    margin-block: 10px;
  }

  fieldset.PassengerCount > div{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
  }


  fieldset.PassengerCount>div > div{
    display: grid;
    grid-template-areas: "Image Label" "Image Input";
    grid-template-columns: 50px auto;
    margin-bottom: 1rem;
    p{
        grid-area: Label;
        font-family: Kantumruy Pro SemiBold;
        color: black;
    }
    img{
        grid-area: Image;
    }
    input{
        grid-area: Input;
        align-self: center;
        border: transparent;
        font-family: Kantumruy Pro SemiBold;
        font-size: 1rem;
        width: 5rem;
    }
  }
  button{
    height: 5rem;
    border-radius: 3rem;
  }


}
