.AddonsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    .AddonsWrapper{
        display: flex;
        justify-content: space-evenly;
        height: 85%;
        width: 100%;
        align-items: center;
    }
    .AddonsWrapper > div{
        padding: 2vmax;
        height: 80%;
        border: 3px solid black;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-family: Kantumruy Pro Bold;
        font-size: 2rem;
        border-radius: 20px;
    }
    .AddonsWrapper > .Active{
        border-color: var(--indigo100);
    }

    .buttons{
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
    }
}